

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}



h1 {
  font-family: "Quicksand", sans-serif;
}

a {

  text-decoration: none;
}

a:hover {
  color: #909090;
}

img {
  max-width: 100%;
}

.columns {
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -webkit-flex;
}

.columns .column {
  flex-basis: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}



.cards {
  position: relative;
  box-shadow: 0 4px 8px 0 #EEEEEE, 0 6px 20px 0 #EEEEEE;
  padding: 1.5rem !important;
  border-radius: 10px;
  word-break: break-word;
  margin: 0 10px;
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.cards.is-block {
  display: block;
}

.cards .title {
  margin-bottom: 10px;
  color: #2d2d2d;
}

.cards .title.is-light {
  font-weight: 400;
  font-size: 1.3rem;
}

.cards .content {
  color: #525050;
  font-size: 0.9rem;
}

.cards .extra {
  margin-top: 10px;
}

.cards img {
  max-width: 80%;
}

.cards .cover {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cards p {
  white-space: pre-line;
}

.cards a {
  text-decoration: underline;
}

.card-footer {
  margin-top: 10px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
}




a.cards:hover {
  box-shadow: 0 10px 20px 0 #EEEEEE, 0 10px 30px 0 #EEEEEE;
}

.is-hidden {
  display: none;
}





.hero {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 20px 0;
}

.hero > div {
  margin-right: 5%;
  width: 100%;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.hero h2 {
  margin-top: 0px;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #525050;
  font-weight: normal;
}

.hero img {
  width: 400px;
  border-radius: 10px;
}

.hero .buttons {
  margin-top: 15px;
}

.hero.center {
  display: block;
  text-align: center;
}

.hero.center img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}





@media screen and (max-width: 991px) {
  .columns{
    display: block;
  }
}



@media screen and (max-width: 768px) {





  
  .columns .column {
    margin-bottom: 5px;
    padding: 0px;
  }

  .columns .column.is-one-quarter,
  .columns .column.is-three-quarters,
  .columns .column.is-half,
  .columns .column.is-two-thirds,
  .columns .column.is-sixty {
    width: 100%;
  }

  .columns .column:last-child {
    padding-left: 0px;
  }

  .columns .column h2.subtitle {
    font-size: 1.1rem;
  }

  .columns .cards {
    margin: 20px 0;
  }

  .columns.is-mobile {
    display: -webkit-box;
    display: flex;
  }

  .columns.is-mobile .column {
    width: 50%;
  }

  .columns.on-mobile-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .columns.on-mobile-column .column {
    width: 100%;
  }

  .columns-mobile {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .flex-order-1 {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }

  .flex-order-2 {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }

  .hero {
    display: block;
    margin-top: 10%;
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .hero img {
    max-width: 100%;
    width: 80%;
  }

  .hidden-on-mobile {
    display: none;
  }

  .input,
  textarea,
  .medium-editor-element {
    font-size: 1rem;
  }

  #form-answer {
    width: 90% !important;
  }

  #videoWrapper {
    width: 90%;
  }

  #videoWrapper #nextBtn {
    right: 0px;
  }

  #videoWrapper #prevBtn {
    left: 0px;
  }
}



