@import url(https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap);body {
  background: white;
  color: #2d2d2d;
  margin-top: 3%;
  font-family: "oxy", sans-serif;
  font-size: 18px;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  }
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.line {
  border-bottom: 2px solid black;
  width: 100px;
  display: block;
  margin-top: 10px
}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

h1 {
  font-family: "oxy", sans-serif;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

a:hover {
  color: #909090;
}

li,
ul {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

img {
  max-width: 100%;
}

.columns {
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -webkit-flex;
}

.columns .column {
  flex-basis: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.columns .column.is-one-twelfth {
  width: 8.33%;
  -webkit-box-flex: 0;
          flex: none;
}

.columns .column.is-one-fifth {
  width: 20%;
  -webkit-box-flex: 0;
          flex: none;
}

.columns .column.is-one-quarter {
  width: 25%;
  -webkit-box-flex: 0;
          flex: none;
}

.columns .column.is-half {
  width: 50%;
  -webkit-box-flex: 0;
          flex: none;
}

.columns .column.is-sixty {
  width: 60%;
  -webkit-box-flex: 0;
          flex: none;
}

.columns .column.is-two-thirds {
  width: 66.6666%;
  -webkit-box-flex: 0;
          flex: none;
}

.columns .column.is-three-quarters {
  width: 75%;
  -webkit-box-flex: 0;
          flex: none;
}

.columns .column.is-stick-left {
  padding-left: 0px;
}

.columns .column.is-middle {
  margin: 0 auto;
}

.columns .column h1.title {
  margin-bottom: 20px;
  text-align: center;
}

.columns .column h1.title-m {
  margin-bottom: 20px;
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.8rem;
}

.columns .column h2.subtitle {
  color: #909090;
  font-weight: normal;
  font-size: 1.4rem;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.columns > .cards:first-child {
  margin-left: 0px;
}

.columns > .cards:last-child {
  margin-right: 0px;
}

.columns > .cards:only-child {
  -webkit-box-flex: 0.29;
          flex-grow: 0.29;
}

.columns > .column:first-child {
  padding-left: 0px;
}

.columns > .column:last-child {
  padding-right: 0px;
}

.cards {
  position: relative;
  box-shadow: 0 4px 8px 0 #EEEEEE, 0 6px 20px 0 #EEEEEE;
  padding: 1.5rem !important;
  border-radius: 10px;
  word-break: break-word;
  margin: 0 10px;
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.cards.is-block {
  display: block;
}

.cards .title {
  margin-bottom: 10px;
  color: #2d2d2d;
}

.cards .title.is-light {
  font-weight: 400;
  font-size: 1.3rem;
}

.cards .content {
  color: #525050;
  font-size: 0.9rem;
}

.cards .extra {
  margin-top: 10px;
}

.cards img {
  max-width: 80%;
}

.cards .cover {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cards p {
  white-space: pre-line;
}

.cards a {
  text-decoration: underline;
}

.card-footer {
  margin-top: 10px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
}

.card-footer img {
  margin-left: 3px;
}

hr {
  border: none;
  height: 1px;
  background-color: #909090;
}

a.cards:hover {
  box-shadow: 0 10px 20px 0 #EEEEEE, 0 10px 30px 0 #EEEEEE;
}

.is-hidden {
  display: none;
}

.sidebar-title {
  margin-bottom: 15px;
  font-size: 1rem;
}

.lists a {
  display: block;
}

.lists li {
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 1rem;
}

.subject {
  white-space: pre-line;
}

.subject img {
  max-width: 80%;
  margin: 8px 0;
}

.subject a {
  color: #7B99B9;
}

.subject a:hover {
  text-decoration: underline;
}

.subject pre {
  font-size: 0.9rem;
  overflow-x: scroll;
  max-height: 450px;
}

.hljs {
  font-size: 0.9rem;
  padding: 15px;
}

.input-wrapper {
  background: #EEEEEE;
  padding: 10px;
  color: #909090;
  border: 0px;
  border-radius: 5px;
  font-size: 1rem;
}

.input-wrapper .label {
  display: block;
}

.input-wrapper .input,
.input-wrapper textarea {
  display: block;
  width: 100%;
}

.input-wrapper .medium-editor-hidden {
  display: none;
}

.input-wrapper .medium-editor-element {
  display: block;
  width: 100%;
  min-height: 200px;
  color: #2d2d2d;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.input-wrapper .medium-editor-element::-webkit-scrollbar {
  display: none;
}

.input-wrapper .medium-editor-element a {
  text-decoration: underline;
}

.input-wrapper .medium-editor-element pre {
  background: #D5D7DC;
  font-size: 1rem;
  padding-left: 10px;
  margin-bottom: 5px;
}

.medium-editor-toolbar li .medium-editor-action-pre {
  padding: 0px !important;
}

.medium-editor-toolbar li .medium-editor-button-first {
  padding-left: 24px !important;
}

#form-answer .medium-editor-element {
  min-height: 150px;
}

.input,
textarea,
.medium-editor-element {
  width: 100%;
  background: #EEEEEE;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: inherit;
}

.input:focus,
textarea:focus,
.medium-editor-element:focus {
  outline: none;
}

.input-checkbox input[type=checkbox] {
  width: 50px;
  height: 50px;
}

.input-checkbox label {
  padding-top: 10px;
}

.medium-editor-action-anchor {
  padding-left: 0px !important;
}

.input-suggestion {
  position: relative;
}

.input-suggestion .suggestions {
  display: none;
  background: white;
  width: 500px;
  padding: 5px;
  position: absolute;
  max-height: 300px;
  max-width: 100%;
  overflow-y: scroll;
  z-index: 99;
}

.input-suggestion .suggestions a {
  display: block;
}

.is-center {
  text-align: center;
}

.is-right {
  text-align: right;
}

.is-small {
  font-size: 0.9rem;
}

.is-xs {
  font-size: 0.8rem;
}

.is-medium {
  font-size: 0.95rem;
}

.is-medium textarea {
  font-size: 0.95rem;
  font-family: inherit;
}

.is-normal {
  font-weight: normal;
}

.is-large {
  font-size: 1.3rem;
}

.is-xl {
  font-size: 1.5rem;
}

.is-bold {
  font-weight: bold;
}

.is-success-darker {
  color: #3ACB89;
}

.is-primary {
  color: #7B99B9;
}

.overline {
  text-decoration: line-through;
}

.v-group > * {
  margin-bottom: 20px;
  margin-left: 0px;
}

.h-group > * {
  margin-right: 20px;
}

.h-group-s > * {
  margin-right: 10px;
}

.v-group-s .cards,
.v-group-s .input-wrapper {
  margin-bottom: 10px;
}

.v-group-l > *:not(:last-child) {
  margin-bottom: 30px;
}

.v-dist div,
.v-dist p {
  margin: 10px 0;
}

.h-dist {
  justify-content: space-around;
}

.h-dist.is-sb {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.h-dist .column,
.h-dist .button {
  margin: 0 5px;
}

.flex-right {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.w70 {
  width: 70%;
}

.fine-bottom-line {
  padding-bottom: 5px;
  border-bottom: 0.5px solid #EEEEEE;
}

.fine-bottom-line.is-bold {
  border-bottom: 5px solid #EEEEEE;
}

.button {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 8px 10px;
  margin: 10px 0;
  border: 0px;
  border-radius: 5px;
  color: #EEEEEE;
  text-decoration: none !important;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.button.is-small {
  font-size: 1rem;
  padding: 5px 10px;
}

.button.is-primary {
  background: #7B99B9;
}

.button.is-primary:hover {
  background: #517dad;
}

.button.is-white {
  border: 1px solid white;
}

.button.is-white:hover {
  background: white;
  color: #2d2d2d;
}

.button.is-plain {
  border: 1px solid #2d2d2d;
  color: #2d2d2d;
  font-weight: lighter;
}

.button.is-plain:hover {
  background: #2d2d2d;
  color: #EEEEEE;
}

.button.is-danger {
  background: #e4614a;
}

.button.is-danger:hover {
  background: #d2553f;
}

.button.is-dark {
  background: #2d2d2d;
}

.button.is-dark:hover {
  background: black;
}

.button.is-blueTw {
  background: #1DA1F2;
}

.button.is-blueTw:hover {
  background: #517dad;
}

.button.has-width-normal {
  width: auto;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle.is-blue {
  background-color: #7B99B9;
}

.circle.is-green {
  background-color: #5EE4C6;
}

.is-blueSK {
  color: #314C69;
}

.is-red {
  color: #e4614a;
}

.is-midGrey {
  color: #909090;
}

.is-darkMidGrey {
  color: #525050;
}

.is-lightBlue {
  color: #517dad;
}

#nav-brand,
#nav-menu {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

#nav-brand {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#nav-brand img {
  margin-right: 20px;
}

#nav-menu {
  font-size: 1.25rem;
  line-height: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

#nav-menu > .nav-item {
  margin-left: 2rem;
}

#nav-menu a:hover {
  cursor: pointer;
}

.nav-item {
  color: #314C69;
  display: inline-block;
  position: relative;
}

.nav-item img {
  margin-bottom: -20px;
}

.nav-item:hover .nav-sub-menu {
  height: auto;
  border-bottom: 1px solid grey;
  border-top: 3px solid #314C69;
}

.nav-sub-menu {
  position: absolute;
  height: 0px;
  width: 140px;
  right: 0px;
  line-height: 2.8rem;
  overflow: hidden;
  background: white;
  text-align: right;
  -webkit-transition: height 0.4s ease-in;
  transition: height 0.4s ease-in;
}

.nav-sub-menu-item {
  display: block;
  margin-right: 2%;
  padding: 0 10px;
}

.nav-sub-menu-item:hover {
  color: #517dad;
}

.nav-toggle {
  display: none;
  padding: 10px 5px 0;
  margin-right: 10%;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #2d2d2d;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.barChanged .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.barChanged .bar2 {
  opacity: 0;
}

.barChanged .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menuToggle {
  display: block;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 2.5%;
    padding-top: 5%;
  }

  .nav-toggle {
    display: block;
    margin-right: 0%;
    padding: 0px;
  }

  .menuToggle {
    display: block !important;
  }

  #nav-menu {
    display: none;
    width: 110%;
    position: absolute;
    top: 100%;
    left: -5%;
    line-height: 40px;
    z-index: 99;
    border: 1px solid #EEEEEE;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  #nav-menu > .nav-item {
    margin-left: 0rem;
  }

  #nav-menu > .nav-item:hover {
    border: 0px;
  }

  #nav-menu a {
    padding-left: 5px;
  }

  .nav-item,
  .nav-sub-menu-item {
    font-size: 1rem;
    background: white;
    color: #2d2d2d;
    display: block;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
  }

  .nav-item .nav-item,
  .nav-sub-menu-item .nav-item {
    display: none;
  }

  .nav-sub-menu {
    position: relative;
    height: 100% !important;
    width: 100%;
  }

  .nav-sub-menu-item {
    display: block;
    border: none;
  }
}

.hero {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 20px 0;
}

.hero > div {
  margin-right: 5%;
  width: 100%;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.hero h2 {
  margin-top: 0px;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #525050;
  font-weight: normal;
}

.hero > img {
  border-radius: 10px;
}

.hero .buttons {
  margin-top: 15px;
}

.hero.center {
  display: block;
  text-align: center;
}

.hero.center img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.avatar-wrapper {
  position: relative;
  display: inline;
}

.avatar-wrapper .avatar {
  max-width: 100%;
}

.avatar-wrapper .verified-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.avatar {
  border-radius: 50%;
}

.is-notif {
  background: #e4614a;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
}

.sticky-bottom {
  position: fixed;
  bottom: -30px;
}

.highlight-blue {
  background: #1DA1F2;
  color: white;
  padding: 10px;
}

.grey-bg {
  background: #EEEEEE;
}

.red-bg {
  background: #e4614a;
  color: white;
}

.success-bg {
  background: #5EE4C6;
  color: white;
}


.highlighteda,
.highlighted a {
  color: #909090;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.link-noline:hover {
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.pin-rt {
  position: absolute;
  top: 5px;
  right: 5px;
}

.tags {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 2px 5px;
  font-size: 0.8rem;
  color: white;
}

.filterbox {
  margin-bottom: 20px;
}

.filterbox .input {
  padding: 10px;
}

.filterbox .dropdown > div {
  padding: 9px;
}

.icons {
  margin-bottom: -1px;
}

.icons:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  width: 100%;
  color: #909090;
}

.dropdown .box_head:hover {
  cursor: pointer;
}

.dropdown span {
  float: right;
}

.dropdown .box_body {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #EEEEEE;
  border: 0px;
  padding: 10px;
  display: none;
}

.dropdown .box_body.box_body_open {
  display: block;
  z-index: 99;
}

.dropdown .box_body a {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.dropdown .box_body a:hover {
  background: white;
  -webkit-transition: padding-left 0.2s ease-in;
  transition: padding-left 0.2s ease-in;
  padding-left: 5px;
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.best-answer {
  border-left: 5px solid #3ACB89;
  padding-left: 10px;
}

.pagination {
  text-align: center;
  width: 100%;
}

.pagination .page-item {
  margin: 0 5px;
  display: inline-block;
}

.progressbar {
  width: 100%;
  height: 1.5em;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 16px;
}

.progressbar div {
  color: white;
  background-color: #757575;
  height: 100%;
  border-radius: 16px;
}

.progressbar .success {
  background-color: #5EE4C6;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.padding-around-s {
  padding: 1%;
}

.padding-around {
  padding: 5%;
}

.v-center {
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.v-distance {
  margin: 20px 0;
}

.v-distance-l {
  margin: 60px 0;
}

.v-distance-xl {
  margin: 100px 0;
}

.h-center {
  margin: 0 auto;
}

#videoWrapper {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

#videoWrapper video,
#videoWrapper iframe {
  display: block;
  margin: 0 auto;
}

#videoWrapper #prevBtn,
#videoWrapper #nextBtn {
  position: absolute;
  top: 45%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#videoWrapper #prevBtn {
  left: 20px;
  border-right: 20px solid #909090;
}

#videoWrapper #nextBtn {
  right: 20px;
  border-left: 20px solid #909090;
}

.box_lists .box_head {
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 2px;
  margin-top: 5px;
}

.box_lists .box_head span {
  float: right;
}

.box_lists .box_body {
  padding: 5px 10px;
  margin-bottom: 5px;
  display: none;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
  height: 0;
  overflow: hidden;
  color: #525050;
}

.box_lists .box_body a {
  color: #525050;
}

@media screen and (max-width: 768px) {

  .columns .column.is-one-quarter,
  .columns .column.is-three-quarters,
  .columns .column.is-half,
  .columns .column.is-two-thirds,
  .columns .column.is-sixty {
    width: 100%;
  }

  .columns .column:last-child {
    padding-left: 0px;
  }

  .columns .column h2.subtitle {
    font-size: 1.1rem;
  }

  .columns .cards {
    margin: 20px 0;
  }

  .columns.is-mobile {
    display: -webkit-box;
    display: flex;
  }

  .columns.is-mobile .column {
    width: 50%;
  }

  .columns.on-mobile-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .columns.on-mobile-column .column {
    width: 100%;
  }

  .columns-mobile {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .flex-order-1 {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }

  .flex-order-2 {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }

  .footer_sitemap {
    flex-wrap: wrap;
  }

  .footer_sitemap .column {
    margin: 20px 10%;
  }

  .hero {
    display: block;
    margin-top: 10%;
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .hero img {
    max-width: 100%;
    width: 80%;
  }

  .hidden-on-mobile {
    display: none;
  }

  .input,
  textarea,
  .medium-editor-element {
    font-size: 1rem;
  }

  #form-answer {
    width: 90% !important;
  }

  #videoWrapper {
    width: 90%;
  }

  #videoWrapper #nextBtn {
    right: 0px;
  }

  #videoWrapper #prevBtn {
    left: 0px;
  }
}
