@media only screen and (max-width: 780px){
	.tweet{
		display: none;
	}
}


.materi{
	display: flex;
	justify-content: space-between;
	align-content: center;
}



.grey-bg{
	background: #dedede;
	padding: 5%
}

.darkmode .grey-bg{
	background: #313942;
	padding: 5%
}

#videoWrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

#videoWrapper video,
#videoWrapper iframe {
  display: block;
  margin: 0 auto;
}

#videoWrapper #prevBtn,
#videoWrapper #nextBtn {
  position: absolute;
  top: 45%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#videoWrapper #prevBtn {
  left: 20px;
  border-right: 20px solid #909090;
}

#videoWrapper #nextBtn {
  right: 20px;
  border-left: 20px solid #909090;
}


.atas{
	top: -20px; 
	position: relative;
}

.b {
	background: #EFEFF4;
	padding: 3px; 
	padding-left: 10px; padding-right: 10px;
	border-radius: 30px; 
	color: #3694FF;
}
.darkmode .b{
	background: #313942
}


body {

	background: #FFFFFF;
	color: rgb(87, 87, 87);
	
	font-size: 1rem;
	line-height: 1.6rem;
	font-family: 'Quicksand', sans-serif;
}

.cont{
	margin: 0% auto;
	width: 65%;
}


/*
.darkmode .back-light{
	display: none;
}
*/
.back-button{
	color: #3498DB
}
.darkmode .back-button{
	color: #3498DB
}

.darkmode .pics{
	display: none;
}
	

/* TOGGLE NYA*/

.buka {
  cursor: pointer;
  text-indent: -9999px;
  top: 2.4px;
  width: 52px;
  height: 27px;
  background: rgb(211,211,211);
  float: right;
  border-radius: 100px;
  position: relative;
}

.buka:after {
  content: '';
  position: absolute;
  top: 3.1px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100px;
  transition: 0.3s;
}

.tutup{
  cursor: pointer;
  text-indent: -9999px;
  top: 2.4px;
  width: 52px;
  height: 27px;
  background: #3694FF;
  float: right;
  border-radius: 100px;
  position: relative;
}

.tutup:after {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100px;
  transition: 0.3s;
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}



@font-face {
        font-family: tulisans;
        src: url(../font/sf-ui.otf);
}
@font-face {
        font-family: tulisan;
        src: url(../font/roboto-regular.ttf);
}
@font-face {
        font-family: tulisanskuy;
        src: url(../font/ontohood.otf);
}

.other{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin-top: 20px;
}


p {
	font-size: 0.9em
}
.line {
	border-bottom: 2px solid black;
	width: 100px;
	display: block;
	margin-top: 10px
}

.darkmode .line {
	border-bottom: 2px solid white;
	width: 100px;
	display: block;
	margin-top: 10px
}

.title {
	font-size: 1.4rem;
	font-weight: bold;
	color: rgb(57,57,57)
}
.darkmode .title {
	color: rgb(227, 227, 227)
}
.is-hidden {
	display: none
}
a {
	color: rgb(87, 87, 87);
}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: -20px;
	font-size: 20px
}

#theme {
	font-size: 25px
}
#theme:hover {
	cursor: pointer
}
body.darkmode {
	background: #181E25;
	color: rgb(227, 227, 227)
}
body.darkmode a {
	color: rgb(227, 227, 227)
}
.landing {
	display: flex;
	align-items: center;
	font-size: 1rem
}
.links p {
	margin-top: 0px
}
h3 {
	margin-bottom: 5px
}
.columns {
	display: inline-flex
}
blockquote {
	border-left: 1px solid gray;
	padding-left: 5px;
	font-style: italic
}

@media only screen and (max-width: 991px) {
	.cont{
		width: 95%;
	}
	.materi{
		display: block;
	}
	.materi img{
		width: 50%;
	}

}

@media only screen and (max-width: 760px) {
	.o {
	font-size: 0.5rem;


}
	
	
	.landing {
		display: block;
		font-size: 0.9rem
	}
	.columns {
		display: flex
	}
	.list {
		position: relative;
		top: -5px;
		display: inline-flex
	}
	.list a {
		text-decoration: none
	}
	.search-side {
		display: none
	}
	.logo {
		position: relative;
		top: 5px
	}

	.darkm {
		position: relative;
		text-align: left;
		margin-top: -40px;
		top: 35px;
		bottom: 30px
	}
	.linkepisode a {
		left: 200px
	}
	.twitter-timeline {
		display: none
	}
	.tubuh {
		position: relative;
		top: 0px;
		right: 261px;
		margin-right: -265px
	}
	.p-footer {
		position: relative;
		margin-bottom: 15px;
		top: 90px
	}
	h1 {
		font-size: 1.5em
	}
	h2 {
		font-size: 1em;
		margin-top: -15px
	}

}

.list {
	position: relative;
	margin-top: 13px
}
a:active {
	color: black
}
.list a {
	font-weight: bold
}
.list a:hover {
	color: black
}
.darkmode .list a:hover {
	color: white
}
.list a:active {
	color: #1DA1F2
}
.link {
	text-decoration: underline
}
.btn {
	background: #1DA1F2;
	border-radius: 10px;
	padding: 10px;
	width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center
}
.search-side {
	background: #313942;
	box-sizing: border-box;
	color: #fcfcfc;
	border: 0px;
	padding: 3px;
	width: 100px;
	border-radius: 5px;
	font-size: 1rem;
	margin-bottom: 20px;
	outline: none
}
.search {
	background: #EFEFF4;
	box-sizing: border-box;
	color: #000;
	border: 0px;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	font-size: 1rem;
	margin-bottom: 20px;
	outline: none
}

.darkmode .search {
	background: #313942;
	box-sizing: border-box;
	color: #fcfcfc;
	border: 0px;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	font-size: 1rem;
	margin-bottom: 20px;
	outline: none
}

.title {
	font-size: 1.5rem;
	font-weight: bold
}
.boxess {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	padding-top: 23px;
	justify-content: space-between;
	margin-top: 15px;
	box-shadow: 2px 2px 2px 2px #EFEFF4;
	border-radius: 10px
}

.darkmode .boxess{
	box-shadow: 2px 2px 2px 2px #313942;
}

.boxeses {
	padding: 5px 10px;
	margin-bottom: -40px;
	margin-top: 10px;
}

.boxess .pic {
	margin-right: 15px;
}

.boxess:hover {
	background: #EFEFF4;
	color: black;
	text-decoration: none;
}
.darkmode .boxess:hover {
	background: #313942;
	color: #fff;

}
.boxess_active {
	color: #A168FB
}
.boxess_active .arrow-right {
	border-left-color: #A168FB
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid black
}
.darkmode .arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid white
}
#content a {
	
}
.boxess {
	text-decoration: none
}
/*footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	transform: translate(-50%);
	margin-left: 50%;
	padding: 8px 5%;
	background: lightgrey;
	width: 60%;
	color: white
}
footer a{
	text-decoration: none;
}
*/

.darkmode footer {

	background: #2A343E;

	color: white
}